<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<header>
	<div class="headerPicture"></div>
	<h3>Learn. Do. Share</h3>
</header>
<body>
	<div class="titleMenu">
		<div>
			<i class="clickToExpand fa fa-tachometer" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="who"> </i>
			<i class="clickToExpand fa fa-university" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="events"></i>
			<i class="clickToExpand fa fa-users" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="community"></i>
			<i class="clickToExpand fa fa-life-ring" data-clicked-class="selectedSubcategory" data-next-class="selectedSubcategory" data-id-to-expand="contact"></i>


		</div>
		<div>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="who">Who We Are</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="events">Events</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="community">Community</a></p>
			<p><a href="#who" id="title" data-next-class="selectedSubcategory" data-id-to-expand="contact">Contact</a></p>
		</div>
	</div>

	<div id="who" class="hide">
				<h4>Dummy Header</h4>
				<p>

<%= @pastEvents.to_json %></p>

	</div>
	<div class="hide" id="events">

				<h4>Upcoming Events</h4>
				
				<p><%= @nextEvent['name'] %></p>
				<p><%= @nextEvent['venue']['name'] %></p>
				<p><%= @nextEvent['venue']['address_1'] %> <%= @nextEvent['venue']['city'] %> <%= @nextEvent['venue']['zip'] %></p>
				<p><%= @nextEvent['venue']['zip'] %></p>
				
				

				<p> 
	</div>
	<div class="hide" id="community">

				<h4>Dummy Header</h4>
				<p><%= @firstEvent %></p>
	</div>
	<div class="hide" id="contact">


				<form>
					<h4>Contact Us</h4>

				<input type="text" name="name" value="Name">


				<input type="text" name="email" value="Email">

				<textarea type="text" name="Comment" value="comment"></textarea>
				<button type="submit" value="Submit">Submit</button>
				</form>

	</div>



</body>
</html>
